<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

       
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
		
		   <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Microsft .NET</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar --> 
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="40%">
                <div class="skillbar-title"><span>MATLAB</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Machine learning & Data Science Libraries</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Pandas</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Scikit-Learn</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Numpy/Scipy</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>Tensorflow</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->   
		
		<!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Matplotlib</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->   
		
		
		<!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>NLTK</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->  
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Soccer</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Badminton</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>Urdu,Hindi & Punjabi</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="10%">
                <div class="skillbar-title"><span>Portuguese & French</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">10%</div>
            </div>
            <!-- /.skillbar -->
            
 
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Researcher <span class="duration"><i class="fa fa-calendar color"></i> Apr 2017 - Current</span></h5>
                <h6><span class="fa fa-briefcase"></span> The Inisght Centre for Data Analytics, Ireland</h6>
                <p>
		    Delivered key contribution to the knowledge graph group. Conducted research in the areas of knowledge graph and linked data with applications in biomedical data with strong emphasis on cancer prediction. Successfully implemented various modules for the prediction of molecular biomarkers using state of the art machine learning and data science libraries. Conveniently worked with huge biomedical, text and graph datasets. Established a robust system to make use of complex n-arty hyper-graphs in machine learning and statistical inference methods. Collaborated with multi-disciplined team of researchers and developers. </p>
		    <p>Languages: Python</p>
<p>Libraries: Tensorflow, Scikit-learn, Pandas, Numpy, Scipy, Gensim, Nltk, Scrapy, Matplotlib, plotly, biopython, networkx, requests, beautifulsoup, Ipython
	Others: Git, Sphix, Vagrant </p>
            </li>
            <li>
                <h5>Senior Software Engineer <span class="duration"><i class="fa fa-calendar color"></i> Apr 2016 - Apr 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> Techlogix, Pakistan</h6>
                <p>
		    Worked as backend web developer to develop telehealth product. Collaborated with multi-disciplined team of backend, frontend, qa, product definition and UX designers in planning, designing, development and testing. Helped the clients by successfully handling the deployments and bug resolutions on live product server. Achieved employee of the month award twice. </p>

		    <p>Programming: Java (Play framework), C#.Net MVC </p>
		    <p>Databases: SQL, MySQL</p>
		    <p>Others: Git, AmazonS3</p>
		    </p>

		<p>Awards: Achiever of the month</p>
            </li>	
		
		 <li>
                <h5>Research Assistant <span class="duration"><i class="fa fa-calendar color"></i> June 2017 - Apr 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span> National University of Science & Technology</h6>
                <p>
			Formulated & developed a statistical inference system to robustly embed posterior probabilities. Successfully experimented & verified the proposed algorithm on multiple images and text datasets. </p>
			 <p>Published the work in ICMLA 2016. </p>
			 <p>Programming: MATLAB, Python</p>
			 </p>
            </li>
		
		 <li>
                <h5>Software Developer <span class="duration"><i class="fa fa-calendar color"></i> Jan 2014 - June 2015</span></h5>
                <h6><span class="fa fa-briefcase"></span> Project Vision, Pakistan</h6>
                <p>Developed simulation softwares for research & training purposes of PAF using C, C++, C#, DirectX & SQL. Most of projects showcased at different international level exhibitions.</p>
            </li>
		
		
		
		 <li>
                <h5>Visiting Lecturer <span class="duration"><i class="fa fa-calendar color"></i> Jan 2017 - Apr 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> Beaconhouse National University, Pakistan</h6>
                <p>Taught Database management systems course to undergraduate students</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Master of Computer Science <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2016</span></h5>
                <h6><span class="fa fa-book"></span> National University of Science & Technology, Pakistan</h6>
                Grade: <p>1st in a batch of 40 - Gold Medalist </p>
		  
		    Thesis: <p>Robust Kernel Bayes’ Rule & Applications”;</p>
		  <p>A non-parametric robust Bayesian inference model to find conditional & posterior probabilities and its validation on ‘Zero-Shot classification’ using deep learning & word embedding’s”</p>
         Major Subjects:<p> Artificial Intelligence & Machine Learning, Information Retrieval, Data mining and Advanced Algorithms Analysis</p>   
	</li>
            <li>
                <h5>Computer Systems Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2009 - 2013</span></h5>
                <h6><span class="fa fa-book"></span> The Islamia University of Bahawalpur, Pakistan</h6>
                Grade: <p> 1st in a class of 60 - Gold Medlaist </p>
		    Graduation Project: <p>“Autonomous Artificial Intelligence Robot”;</p> 
		<p>A robot capable of finding efficient path in dynamic maze with manifold obstacles</p>
		   <p> Major Subjects: Artificial Intelligence, OOP, Robotics, Algorithms</p>

Major Subjects:<p> Artificial Intelligence, OOP, Robotics, Algorithms</p>

            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
	    
	    
	    
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Publications</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>ICMLA, California <span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                <h6><span class="fa fa-trophy"></span> Muhammad Nawaz, Omer Arif, Robust kernel embedding of conditional & posterior distributions with
applications</h6>
         
            </li>

		
	<li>
                <h5>Journal Paper <span class="duration"><i class="fa fa-calendar color"></i> 2018</span></h5>
                <h6><span class="fa fa-trophy"></span> Robust posterior embedding’s & deep neural networks to classify unseen classes in transfer learning problems</h6>
                <p> (Under Process)</p>
            </li>	
		
	
  
        </ul>
        <!-- /.attributes -->

	    
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Gold Medal <span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                <h6><span class="fa fa-trophy"></span> National University of Science & Technology</h6>
                <p>Distinction in batch</p>
            </li>
            <li>
                <h5>Gold Medal <span class="duration"><i class="fa fa-calendar color"></i> 2013</span></h5>
                <h6><span class="fa fa-trophy"></span> The Islamia University of Bahawalpur</h6>
                <p>Distinction in batch</p>
            </li>
		
	<li>
                <h5>Best Team captain in Leadership Awareness Training <span class="duration"><i class="fa fa-calendar color"></i> 2014</span></h5>
                <h6><span class="fa fa-trophy"></span> Youth Impact</h6>
                <p>An outdoor activity trianing organised by Youth Impact for 100+ university students where multiple teams competed
		with each other and the team I led my team to won the award</p>
            </li>	
		
		<li>
                <h5>1st prize in 72 hours of coding <span class="duration"><i class="fa fa-calendar color"></i> 2010</span></h5>
                <h6><span class="fa fa-trophy"></span> EE</h6>
                <p>A mobile app devlopment competition to develop something unique in 72 hours </p>
            </li>	
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference 
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
 
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>
      
        

        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
</div>
-->
</div>



<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
